:root {
  --scale: 1rem;
  --back: #020923;
  --front: #dedfe2;
  --accent: #1c233d;
}

* {
  padding: 0;
  margin: 0;
}

html,
body,
div#app {
  height: 100%;
  background-color: transparent;
}

html {
  font-size: var(--scale);
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
